{% extends 'main/layout.html' %}

{% block title %}{{ workplace.name }}{% endblock %}

{% block content %}
<div class="features">
   {% if workplaces %}
    <div class="container mt-4">
  <div class="row">
      {% for el in workplaces %}
      <div class="col-lg-4 mb-4">
<div class="serenya">
    <h3>{{el.name}}</h3>
    <p>{{ el.desc|linebreaksbr }}</p>
        {% if user.is_authenticated %}
                <a href="{% url 'bookworkplace' el.id %}" class="btn btn-light">Book place</a>
                {% else %}
               <a href="{% url 'login' %}" class="btn btn-light">Sign in to book place</a>
                {% endif %}
</div>
     </div>
    {% endfor %}
  </div>
</div>
    {% else %}
    <p>No free workplaces at this moment:(</p>
    {% endif %}
</div>
{% endblock %}
